<% include ./partials/header.ejs %>

<div class="container" style="padding-top: 80px">
  <div class="divMain">
    <h1 class="display-4">Welcome to <%= title %></h1>
    <!-- begin if home -->
    <% if (title == "Home") {%>

    <!-- Display Home Page -->
    <% include ./partials/contents/home.ejs %>
    <!-- when home is selected -->

    <% } %>
    <!-- end if home -->

    <!-- ======================================== -->

    <!-- begin if About -->
    <% if (title == "About") {%>

    <!-- Display About Page -->
    <% include ./partials/contents/about.ejs %>
    <!-- when about is selected -->

    <% } %>
    <!-- end if about -->

    <!-- ======================================== -->

    <!-- begin if Products -->
    <% if (title == "Projects") {%>

    <!-- Display Product Page -->
    <% include ./partials/contents/products.ejs %>
    <!-- when product is selected -->

    <% } %>
    <!-- end if products -->

    <!-- ======================================== -->

    <!-- begin if contact -->
    <% if (title == "Contact") {%>
    <a class="btn btn-primary" href="/contact-list" role="button"
      >Contact List</a
    >
    <% } %>
    <!-- <% if (title == "About") {%>
    <a class="btn btn-primary" href="/favourite-list" role="button"
      >Favourite List</a
    >
    <% } %> -->
  </div>
</div>

<% include ./partials/footer.ejs %>
