<% include ./partials/header.ejs %>

<div class="container" style="padding-top: 80px">
  <div class="divMain">
    <h1 class="display-4">Welcome to <%= title %></h1>
    <!-- begin if home -->
    <% if (title == "Home") {%>

    <!-- Display Home Page -->
    <% include ./partials/contents/home.ejs %>
    <!-- when home is selected -->

    <% } %>
    <!-- end if home -->

    <!-- ======================================== -->

    <!-- begin if About -->
    <% if (title == "About") {%>

    <!-- Display About Page -->
    <% include ./partials/contents/about.ejs %>
    <!-- when about is selected -->

    <% } %>
    <!-- end if about -->

    <!-- ======================================== -->

    <!-- begin if Projects -->
    <% if (title == "Projects") {%>

    <!-- Display Projects Page -->
    <% include ./partials/contents/products.ejs %>
    <!-- when project is selected -->

    <% } %>
    <!-- end if products -->

    <!-- ======================================== -->

    <!-- begin if Services -->
    <% if (title == "Services") {%>

    <!-- Display Services Page -->
    <% include ./partials/contents/services.ejs %>
    <!-- when services is selected -->

    <% } %>
    <!-- end if services -->

    <!-- ======================================== -->

    <!-- begin if Contact -->
    <% if (title == "Contact") {%>

    <!-- Display Contact Page -->
    <% include ./partials/contents/contact.ejs %>
    <!-- when contact is selected -->

    <% } %>
    <!-- end if contact -->

    <!-- ======================================== -->
  </div>
</div>

<% include ./partials/footer.ejs %>
